// :root {
$white: #fff !important;
$primary: #fbaf03 !important;
$bg-color: #f8f9fd;
$bg-color2: #F4F5F8;
$transparent: rgba(0, 0, 0, 0);
$text-light: #b3b3b3;
$text-dark: #4D4D4D;
$text-black: #000;
$text-dark2: #898c97;
$red_color: #EF1010;
$green_color: #009946;
$orange_color: #E93612;
// }