// @import '../../global.scss';
.category-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    &>li {
        margin-right: 20px;
        font-size: 1rem;
        cursor: pointer;
        color: var(--primary)
    }
}