.box-search {
    margin: 8px 0;
}

.tab-content {
    padding: 16px;
    margin: 8px 0;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 100px;
        height: 100px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}

//
.right-content {
    padding: 8px
}

//
// overwrive css search input
.tab-panel {}

.tab-container {
    .MuiOutlinedInput-input {
        padding: 14.5px 14px !important
    }
    .MuiOutlinedInput-root {
        border-radius: 2px;
    }
}

.MuiTab-root {
    text-transform: capitalize !important;
    min-width: 144px!important;
}